In [1]:
import pandas as pd

In [2]:
import pandas as pd

data = {"Car": ["A", "B", "C","D", "E", "F", "G", "H"],\
     "Color": ["Red", "Yellow", "Black", "Green", "Black", "Red", "Black", "Black"],\
     "Year": ["1990", "1980", "2003", "2000", "2001", "2004", "1999", "2020"],\
     "Rating": ["2.5", "1.5", "3.8", "9.7", "8.9", "3.2", "5.5", "6.9"],\
     "Service": ["30/05/2010", "31/08/1999", "28/12/2005", "29/06/2011",\
                 "30/12/2020", "31/07/2013", "28/11/2000", "25/12/2020"]}
df = pd.DataFrame(data)
df.head()

  Car   Color  Year Rating     Service
0   A     Red  1990    2.5  30/05/2010
1   B  Yellow  1980    1.5  31/08/1999
2   C   Black  2003    3.8  28/12/2005
3   D   Green  2000    9.7  29/06/2011
4   E   Black  2001    8.9  30/12/2020

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Car      8 non-null      object
 1   Color    8 non-null      object
 2   Year     8 non-null      object
 3   Rating   8 non-null      object
 4   Service  8 non-null      object
dtypes: object(5)
memory usage: 448.0+ bytes

### Method 1: 
## as_type()

In [4]:
df1 = df.copy()

In [5]:
df1["Year"] = df1["Year"].astype("int64")
df1.head()

  Car   Color  Year Rating     Service
0   A     Red  1990    2.5  30/05/2010
1   B  Yellow  1980    1.5  31/08/1999
2   C   Black  2003    3.8  28/12/2005
3   D   Green  2000    9.7  29/06/2011
4   E   Black  2001    8.9  30/12/2020

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Car      8 non-null      object
 1   Color    8 non-null      object
 2   Year     8 non-null      int64
 3   Rating   8 non-null      object
 4   Service  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

#### Using astype() on all the columns at once

In [17]:
df1 = df1.astype({"Year": "complex", "Rating": "float64",\
                  "Car": 'int32'}, errors='ignore')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Car      8 non-null      object
 1   Color    8 non-null      object
 2   Year     8 non-null      complex128
 3   Rating   8 non-null      float64
 4   Service  8 non-null      object
dtypes: complex128(1), float64(1), object(3)
memory usage: 512.0+ bytes

In [14]:
df1["Car"] = df1["Car"].astype("int64", errors='ignore')
df1.head()

  Car   Color  Year Rating     Service
0   A     Red  1990    2.5  30/05/2010
1   B  Yellow  1980    1.5  31/08/1999
2   C   Black  2003    3.8  28/12/2005
3   D   Green  2000    9.7  29/06/2011
4   E   Black  2001    8.9  30/12/2020

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Car      8 non-null      object
 1   Color    8 non-null      object
 2   Year     8 non-null      int64
 3   Rating   8 non-null      object
 4   Service  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

In [16]:
df1 = df1.astype("int64", errors='ignore')
df1.head()

  Car   Color  Year Rating     Service
0   A     Red  1990    2.5  30/05/2010
1   B  Yellow  1980    1.5  31/08/1999
2   C   Black  2003    3.8  28/12/2005
3   D   Green  2000    9.7  29/06/2011
4   E   Black  2001    8.9  30/12/2020

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Car      8 non-null      object
 1   Color    8 non-null      object
 2   Year     8 non-null      int64
 3   Rating   8 non-null      int64
 4   Service  8 non-null      object
 5   Repair   8 non-null      object
dtypes: int64(2), object(4)
memory usage: 512.0+ bytes

#### Method 2:
### pandas.to_datetime()

In [23]:
df2 = df.copy()

In [26]:
df2["RealDate"] = pd.to_datetime(df2["Service"])
df2

  Car   Color  Year  Rating     Service   RealDate
0   A     Red  1990     2.5  30/05/2010 2010-05-30
1   B  Yellow  1980     1.5  31/08/1999 1999-08-31
2   C   Black  2003     3.8  28/12/2005 2005-12-28
3   D   Green  2000     9.7  29/06/2011 2011-06-29
4   E   Black  2001     8.9  30/12/2020 2020-12-30
5   F     Red  2004     3.2  31/07/2013 2013-07-31
6   G   Black  1999     5.5  28/11/2000 2000-11-28
7   H   Black  2020     6.9  25/12/2020 2020-12-25

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car       8 non-null      object
 1   Color     8 non-null      object
 2   Year      8 non-null      object
 3   Rating    8 non-null      object
 4   Service   8 non-null      object
 5   RealDate  8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 512.0+ bytes

In [21]:
df2["Rating"]=pd.to_numeric(df2["Rating"])

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car       8 non-null      object
 1   Color     8 non-null      object
 2   Year      8 non-null      object
 3   Rating    8 non-null      float64
 4   Service   8 non-null      object
 5   RealDate  8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 512.0+ bytes

In [24]:
df2[["Rating", "Year"]] = df2[["Rating",\
                               "Year"]].apply(pd.to_numeric)
df2.head()

  Car   Color  Year  Rating     Service
0   A     Red  1990     2.5  30/05/2010
1   B  Yellow  1980     1.5  31/08/1999
2   C   Black  2003     3.8  28/12/2005
3   D   Green  2000     9.7  29/06/2011
4   E   Black  2001     8.9  30/12/2020

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car       8 non-null      object
 1   Color     8 non-null      object
 2   Year      8 non-null      int64
 3   Rating    8 non-null      float64
 4   Service   8 non-null      object
 5   RealDate  8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 512.0+ bytes

#### Method 3:
### convert_dtypes()

In [33]:
df3 = df.copy()

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Car      8 non-null      object
 1   Color    8 non-null      object
 2   Year     8 non-null      object
 3   Rating   8 non-null      object
 4   Service  8 non-null      object
dtypes: object(5)
memory usage: 448.0+ bytes

In [36]:
dfn = df3.convert_dtypes()
dfn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Car      8 non-null      string
 1   Color    8 non-null      string
 2   Year     8 non-null      string
 3   Rating   8 non-null      string
 4   Service  8 non-null      string
dtypes: string(5)
memory usage: 448.0 bytes

---------------------------------------------------------------------------

#### Thank You for your time!