##### Create list by List Comprehension

In [8]:
mylist = [_ for _ in "ABCDEFGHIJKLM"]
mylist

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M']

##### Adds an item at the end of the list --> append()

In [9]:
mylist.append([100, 200])
mylist

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', [100, 200]]

##### Add the items of a iterable, to the end of the current list --> extend()

In [10]:
mylist.extend("THIS")
print(mylist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', [100, 200], 'T', 'H', 'I', 'S']

##### Add an item at the specified position --> insert()

In [11]:
mylist.insert(1, 20.35)
print(mylist)

['A', 20.35, 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', [100, 200], 'T', 'H', 'I', 'S']

##### Remove the first occurence of specified item --> remove()

In [12]:
mylist.remove("H")
print(mylist)

['A', 20.35, 'B', 'C', 'D', 'E', 'F', 'G', 'I', 'J', 'K', 'L', 'M', [100, 200], 'T', 'H', 'I', 'S']

##### Removes the item at the specified position --> pop(index)

In [13]:
mylist.pop(-5)

[100, 200]

##### Removes the item at the end of the list --> pop()

In [14]:
mylist.pop()

'S'

##### Get the index of the first occurence of the specified item --> index()

In [15]:
mylist.index("I")

8

##### Reverse the order of the list --> reverse()

In [18]:
mylist.reverse()
print(mylist)

['I', 'H', 'T', 'M', 'L', 'K', 'J', 'I', 'G', 'F', 'E', 'D', 'C', 'B', 20.35, 'A']

##### Get the number of occurences of the specified item

In [19]:
mylist.count("I")

2

##### Sort the list --> sort()

In [21]:
# As comparison can not happen between string and float, let's remove the float value
mylist.remove(20.35)
mylist.sort()
print(mylist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'I', 'J', 'K', 'L', 'M', 'T']

##### Check if item is present in the list --> **`in`**

In [22]:
"T" in mylist

True

##### Check if an item is not present in the list --> **`not in`**

In [23]:
20.35 not in mylist

True

##### Create a new list by copying **`mylist`** --> copy()

In [24]:
newlist = mylist.copy()
print(newlist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'I', 'J', 'K', 'L', 'M', 'T']

##### Getting index and items at those indexes from the list

In [29]:
for idx in range(0,len(mylist)):
  print(f"mylist[{idx}] = {mylist[idx]}")

mylist[0] = A
mylist[1] = B
mylist[2] = C
mylist[3] = D
mylist[4] = E
mylist[5] = F
mylist[6] = G
mylist[7] = H
mylist[8] = I
mylist[9] = I
mylist[10] = J
mylist[11] = K
mylist[12] = L
mylist[13] = M
mylist[14] = T

##### Get Reverse Indexing index

In [32]:
import numpy as np
for idx in list(np.arange(len(mylist),0,-1)*-1):
  print(f"mylist[{idx}] = {mylist[idx]}")

mylist[-15] = A
mylist[-14] = B
mylist[-13] = C
mylist[-12] = D
mylist[-11] = E
mylist[-10] = F
mylist[-9] = G
mylist[-8] = H
mylist[-7] = I
mylist[-6] = I
mylist[-5] = J
mylist[-4] = K
mylist[-3] = L
mylist[-2] = M
mylist[-1] = T

##### Get the length of the list --> `len(name_of_list)`

In [33]:
len(mylist)

15

##### Remove all items from the list --> clear()

In [34]:
mylist.clear()
print(mylist)

[]

##### Delete the list --> `del(name_of_list)`

In [35]:
del(mylist)

In [ ]:
##### Thank you for reading