#### Single Quotes or Double Quotes

In [8]:
statement1 = "This article is written by Suraj"
statement2 = 'This article is written by Suraj'
print(statement1)
print(statement2)

This article is written by Suraj
This article is written by Suraj

In [12]:
statement1 = "Here you can find Suraj's other articles"
print(statement1)

Here you can find Suraj's other articles

In [13]:
statement2 = 'Here you can find Suraj's other articles'
print(statement2)

SyntaxError: invalid syntax (<ipython-input-13-eea921998065>, line 1)

#### Example

In [4]:
num1 = input(" Enter the first number: ")
num2 = input(" Enter the second number: ")
addition = int(num1) + int(num2)
print("The addition of {} and {} is {}".format(num1, num2, addition))

 Enter the first number: 10
 Enter the second number: 20
The addition of 10 and 20 is 30

#### String format()

In [5]:
# 1
# format the string with empty placeholders, denoted by {}
print("Welcome to {}th story by {}.".format(100,"Suraj"))

Welcome to 100th story by Suraj.

In [6]:
# 2
# format the string with indexed placeholders, denoted by {index_of_variable_in .format(variable1, variable2)}
print("Welcome to {1}th story by {0}.".format("Suraj",100))

Welcome to 100th story by Suraj.

In [11]:
# 3
# format the string with variable names in placeholders, denoted by {variable_name}
name = "Suraj"
story = 100
print("Welcome to {var2}th story by {var1}.".format(var1=name, var2=story))

Welcome to 100th story by Suraj.

In [16]:
# 4
# format the string with indexed placeholders and variable names in placeholders at a time
name = "Suraj"
print("Welcome to {0}th story by {var2}.".format(100, var2=name))

Welcome to 100th story by Suraj.

#### f-Strings

In [18]:
name = "Suraj"
story = 100
print(f"Welcome to {story}th story by {name}.")

Welcome to 100th story by Suraj.

#### String replace()

In [5]:
statement1 = "This is my notebook. This contains Python Code. This python code has string methods. I save This."
statement1.replace("This", "That")
print("Original string is: "+ statement1)

Original string is: This is my notebook. This contains Python Code. This python code has string methods. I save This.

In [7]:
print("New string is: "+ statement1.replace("This", "That"))

New string is: That is my notebook. That contains Python Code. That python code has string methods. I save That.

In [8]:
print("New string is: "+ statement1.replace("This", "That", 2))

New string is: That is my notebook. That contains Python Code. This python code has string methods. I save This.

#### String join()

In [4]:
city = "Aachen"
area = "Hansemanplatz"
postalcode = "52062"
restaurant = "Jogi Indian Restaurant"
address = ",".join([city, area, postalcode, restaurant])
print("address = "+address)

address = Aachen,Hansemanplatz,52062,Jogi Indian Restaurant

In [7]:
oldstring = " This is String "
joined_string = "-".join(oldstring)
print("Joined String : "+joined_string)

Joined String :  -T-h-i-s- -i-s- -S-t-r-i-n-g-

In [8]:
import pandas as pd

In [20]:
data = {"restaurant": ["Jogi", "Terminal 1", "India Club"],\
        "area": ["H.platz", "Vaihingen", "Alex.graben"],\
        "postalcode": ["52062", "70752", "52064"],\
        "city": ["Aachen", "Stuttgart", "Berlin"]}
df = pd.DataFrame(data)
df.head()

   restaurant         area postalcode       city
0        Jogi      H.platz      52062     Aachen
1  Terminal 1    Vaihingen      70752  Stuttgart
2  India Club  Alex.graben      52064     Berlin

In [21]:
df["Address"] = df[df.columns[0:]].apply(lambda x: ', '.join(x), axis=1)
df.head()

,restaurant,area,postalcode,city,Address
0,Jogi,H.platz,52062,Aachen,"Jogi, H.platz, 52062, Aachen"
1,Terminal 1,Vaihingen,70752,Stuttgart,"Terminal 1, Vaihingen, 70752, Stuttgart"
2,India Club,Alex.graben,52064,Berlin,"India Club, Alex.graben, 52064, Berlin"

#### String Split()

In [25]:
string1 = "Jogi H.platz 52062 Aachen"
separated_string = string1.split()
print(separated_string)
print(type(separated_string))

['Jogi', 'H.platz', '52062', 'Aachen']
<class 'list'>

In [28]:
string2 = "Terminal 1#Vaihingen#70752#Stuttgart"
separated_string = string2.split("#", 2)
print(separated_string)

['Terminal 1', 'Vaihingen', '70752#Stuttgart']

#### String Strip()

In [45]:
string1 = "     *This is string*   "
newstring = string1.strip()
newstring

'*This is string*'

In [41]:
newstring

'*This is string*'

In [46]:
string1 = "     *This is string*   "
newstring1 = string1.lstrip()
newstring1

'*This is string*   '

In [47]:
string1 = "     *This is string*   "
newstring2 = string1.rstrip()
newstring2

'     *This is string*'

#### string find()

In [1]:
main_string = "Five must-know String Methods in Python"
print(main_string.find("Five"))

0

In [2]:
print(main_string.find("must", 2, 10))

5

In [5]:
main_string = "Five must-know String Methods in Python"
print(main_string.find("methods"))

-1

In [6]:
print(main_string.find("must", 10, 20))

-1

### Way to 30+ String methods

In [12]:
"{}st method".format(1)

'1st method'

In [10]:
string2 = "1st method".replace("1st","2nd")
string2

'2nd method'

In [15]:
"-".join("Third")

'T-h-i-r-d'

In [17]:
"F-o-u-r-t-h".split("-")

['F', 'o', 'u', 'r', 't', 'h']

In [18]:
"   *Fifth*  ".strip()

'*Fifth*'

In [19]:
"   *sixth*  ".lstrip()

'*sixth*  '

In [20]:
"   *seventh*  ".rstrip()

'   *seventh*'

In [21]:
"EIGHT".lower()

'eight'

In [22]:
"nine".upper()

'NINE'

In [23]:
"Ten".swapcase()

'tEN'

In [24]:
"Eleven".isalpha()

True

In [25]:
"12".isnumeric()

True

In [27]:
"Thirt33n".isalnum()

True

In [32]:
"FOURTEEN".isupper()

True

In [33]:
"fifteen".islower()

True

In [34]:
"Sixteen".istitle()

True

In [31]:
"seventeen".istitle()

False

In [44]:
" ".isspace()

True

In [59]:
"100".isdigit()

True

In [60]:
"100.1".isdecimal()

False

In [41]:
"Interesting".startswith("In")

True

In [48]:
"Interesting".endswith("g")

True

In [51]:
"TwentyOne".__contains__("y")

True

In [42]:
"THIS IS NEW".title()

'This Is New'

In [43]:
"THIS IS ANOTHER".capitalize()

'This is another'

In [52]:
"Encoding".encode("utf-8")

b'Encoding'

In [54]:
len("TwentyFive")

10

In [55]:
"TwentySixx".index("e")

2

In [58]:
"_Width".zfill(8)

'00_Width'

In [61]:
"TwentyNine".count("e")

2

In [64]:
"Thirty".center(20,"*")

'*******Thirty*******'

In [65]:
"ThirtyOne".ljust(20,"*")

'ThirtyOne***********'

In [66]:
"ThirtyTwo".rjust(20,"*")

'***********ThirtyTwo'